<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TechJobs</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

  <!-- Roboto Fonts -->

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap"
        rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&display=swap"
        rel="stylesheet">
</head>
<body>

<!-- main nav -->

<div class="container-fluid fluid-nav another-page">
  <div class="container cnt-tnar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light tjnav-bar">
      <a routerLink="/homeCompany" class="nav-logo">
        <img src="../../../assets/img/techjobs_bgw.png">
      </a>
      <button class="navbar-toggler tnavbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
        <i class="fa fa-bars icn-res" aria-hidden="true"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto tnav-left tn-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/homeCompany">Trang chủ</a>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto my-2 my-lg-0 tnav-right tn-nav">
          <li class="nav-item">
            <a class="nav-link"> Xin chào {{accountToken.email}}</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>

<!-- (end) main nav -->

<div class="clearfix"></div>

<!-- recuiter Nav -->

<!--  recuiter Nav -->

<!-- widget recuitment  -->

<!-- (end) widget recuitment  -->

<!-- published recuitment -->

<div class="container-fluid published-recuitment-wrapper">
  <div class="container published-recuitment-content">
    <div class="row">
      <div class="col-md-8 col-sm-12 col-12 recuitment-inner">
        <form class="recuitment-form" [formGroup]="formEditJob" (submit)="editJobs()">

          <div class="accordion" id="accordionExample">
            <div class="card recuitment-card">
              <div class="card-header recuitment-card-header" id="headingOne">
                <h2 class="mb-0">
                  <a class="btn btn-link btn-block text-left recuitment-header" type="button" data-toggle="collapse"
                     data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Cập nhật thông tin đăng tuyển
                    <span id="clickc1_advance2" class="clicksd">
                      <i class="fa fa fa-angle-up"></i>
                    </span>
                  </a>
                </h2>
              </div>

              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body recuitment-body">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label text-right label">Tiêu đề<span style="color: red"
                                                                                         class="pl-2">*</span></label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" value="{{this.newJob.title}}" formControlName="title">
                      <p *ngIf="!formEditJob.get('title')?.valid && formEditJob.get('title')?.touched"
                         style="color: red">
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-sm-9">
                      <input type="text" class="form-control" formControlName="id" hidden>
                      <input type="text" class="form-control" formControlName="code" hidden>
                      <input type="text" class="form-control" formControlName="status" hidden>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label text-right label">Số lượng cần tuyển</label>
                    <div class="col-sm-9">
                      <input type="number" class="form-control" value="{{this.newJob.quantity}}"
                             formControlName="quantity">

                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label text-right label">Giới tính<span style="color: red"
                                                                                           class="pl-2">*</span></label>
                    <div class="col-sm-9">
                      <fieldset formGroupName="genderObj">
                        <select type="text" class="form-control" formControlName="gender">
                          <option value="Nam">Nam</option>
                          <option value="Nữ">Nữ</option>
                        </select>
                      </fieldset>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label text-right label">Mô tả công việc<span style="color: red"
                                                                                                 class="pl-2">*</span></label>
                    <div class="col-sm-9">
                      <textarea type="text" class="form-control" placeholder="Nhập mô tả công việc"
                                formControlName="description" rows="5"></textarea>
                      <p *ngIf="!formEditJob.get('description')?.valid && formEditJob.get('description')?.touched"
                         style="color: red">

                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label text-right label">Kinh nghiệm<span style="color: red"
                                                                                             class="pl-2">*</span></label>
                    <div class="col-sm-9">
                      <fieldset formGroupName="expYearObj">
                        <select type="text" class="form-control" formControlName="expYear">
                          <option selected="selected" value="">Chọn kinh nghiệm</option>
                          <option value="0">Chưa có kinh nghiệm</option>
                          <option value="00">Dưới 1 năm</option>
                          <option value="1">1 năm</option>
                          <option value="2">2 năm</option>
                          <option value="3">3 năm</option>
                          <option value="4">4 năm</option>
                          <option value="5">5 năm</option>
                          <option value="6">Trên 5 năm</option>
                          <option value="8">Không yêu cầu kinh nghiệm</option>
                        </select>
                      </fieldset>
                    </div>
                  </div>
                  <div class="form-group row">

                    <label class="col-sm-3 col-form-label text-right label">Vị trí<span style="color: red" class="pl-2">*</span></label>
                    <div class="col-sm-9">
                      <fieldset formGroupName="location">
                        <select type="text" class="form-control" formControlName="id">
                          <option *ngFor="let l of ListLoca" value="{{l.id}}">{{l.name}}</option>
                        </select>
                      </fieldset>
                      <fieldset formGroupName="company" hidden>
                        <select type="text" class="form-control" formControlName="id">
                          <option value="{{newJob.company.id}}"> {{newJob.company.shortName}}</option>
                        </select>
                      </fieldset>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label text-right label">Hình thức làm việc<span style="color: red"
                                                                                                    class="pl-2">*</span></label>
                    <div class="col-sm-9">
                      <fieldset formGroupName="category">
                        <select type="text" class="form-control" formControlName="id">
                          <option *ngFor="let c of ListCate" value="{{c.id}}">{{c.name}}</option>

                        </select>
                      </fieldset>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label text-right label">Mức lương<span style="color: red"
                                                                                           class="pl-2">*</span></label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" placeholder="Nhập mức lương thấp nhất"
                             formControlName="salaryMin">
                      <input type="text" class="form-control" placeholder="Nhập mức lương cao nhất"
                             formControlName="salaryMax">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label text-right label">Nhập địa chỉ<span style="color: red"
                                                                                              class="pl-2">*</span></label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" placeholder="Nhập địa chỉ" formControlName="address">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label text-right label">Hạn nộp hồ sơ<span style="color: red"
                                                                                               class="pl-2">*</span></label>
                    <div class="col-sm-9">
                      <input type="date" class="form-control" formControlName="expiredDate">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="rec-submit">
              <button type="submit" class="btn-submit-recuitment" name="">
                <i class="fa fa-floppy-o pr-2" routerLink="/homeCompany"></i>Cập nhật
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- (end) published recuitment -->

<div class="clearfix"></div>

<!-- job support -->

<div class="container-fluid job-support-wrapper">
  <div class="container-fluid job-support-wrap">
    <div class="container job-support">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-12">
          <ul class="spp-list">
            <li>
              <span><i class="fa fa-question-circle pr-2 icsp"></i>Hỗ trợ nhà tuyển dụng:</span>
            </li>
            <li>
              <span><i class="fa fa-phone pr-2 icsp"></i>19006868</span>
            </li>
          </ul>
        </div>
        <div class="col-md-6 col-sm-12 col-12">
          <div class="newsletter">
            <span class="txt6">Đăng ký nhận bản tin việc làm</span>
            <div class="input-group frm1">
              <input type="text" placeholder="Nhập email của bạn" class="newsletter-email form-control">
              <a href="#" class="input-group-addon"><i class="fa fa-lg fa-envelope-o colorb"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- (end) job support -->

<!-- footer -->

<div class="container-fluid footer-wrap  clear-left clear-right">
  <div class="container footer">
    <div class="row">
      <div class="col-md-4 col-sm-8 col-12">
        <h2 class="footer-heading">
          <span>Giới thiệu</span>
        </h2>
        <p class="footer-content">
          Khám phá cách tốt nhất để tìm vệc làm IT qua Cổng thông tin việc làm phát triển nhanh nhất Việt Nam.
        </p>
        <ul class="footer-contact">
          <li>
            <a>
              <i class="fa fa-phone fticn"></i> 19006868
            </a>
          </li>
          <li>
            <a>
              <i class="fa fa-envelope fticn"></i>
              support@techjob.com
            </a>
          </li>
          <li>
            <a>
              <i class="fa fa-map-marker fticn"></i>
              Số 23, Lô TT01, Hàm Nghi, Mỹ Đình, Hà Nội
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-4 col-12">
        <h2 class="footer-heading">
          <span>Ngôn ngữ nổi bật</span>
        </h2>
        <ul class="footer-list">
          <li><a>Java</a></li>
          <li><a>Javascript</a></li>
          <li><a>PHP</a></li>
          <li><a>.NET</a></li>
          <li><a>SQL Server</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-6 col-12">
        <h2 class="footer-heading">
          <span>Ngành nghề</span>
        </h2>
        <ul class="footer-list">
          <li><a>Quản lý dự án</a></li>
          <li><a>Lập trình viên</a></li>
          <li><a>Kiểm thử phần mềm</a></li>
          <li><a>Kỹ sư cầu nối</a></li>
          <li><a>Nhân sự</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-6 col-12">
        <h2 class="footer-heading">
          <span>Hình thức</span>
        </h2>
        <ul class="footer-list">
          <li><a>Nhân viên chính thức</a></li>
          <li><a>Nhân viên bán thời gian</a></li>
          <li><a>Freelancer</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-12 col-12">
        <h2 class="footer-heading">
          <span>Địa điểm</span>
        </h2>
        <ul class="footer-list">
          <li><a>Hà Nội</a></li>
          <li><a>Đà Nẵng</a></li>
          <li><a>Hồ Chí Minh</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid copyright-wrap">
  <div class="container copyright">
    <p class="copyright-content">
      Copyright © 2023 <a> Tech<b>Job</b></a>. All Right Reserved.
    </p>
  </div>
</footer>

<!-- (end) footer -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Optional JavaScript -->

<script src="js/jquery-3.4.1.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/select2.min.js"></script>
<script src="js/jobdata.js"></script>
<script type="text/javascript" src="js/main.js"></script>

<!-- Owl Stylesheets Javascript -->

<script src="js/owlcarousel/owl.carousel.js"></script>

<!-- Read More Plugin -->

</body>
</html>
